


<div class="container">         
<span><span class="details"><span class="user floatLeft"><img class="user" src="http://i.imgur.com/BcMWkDq.jpg" /><span class="timestamp darkGray"> <%=post.created_at.strftime("%m/%d/%y") + " @ " +  post.created_at.strftime("%I:%M %p")%></span></span></span><span class="tag floatRight autism">/<%post.tag_list.first%></span></span>
	<br>
	<h3 class="black"><%=post.title%></h3>
	<h4 class="darkGray"><%=post.body%></h4>
</div>
<div class="videoWrapper">
	<iframe class="video" src="https://www.youtube.com/embed/28XHtZ2Lx9g?rel=0" frameborder="0" allowfullscreen></iframe>    
</div>
<br>
<div class="container">
	<span class="details"><span class="favorite floatLeft"><img class="like" src="http://i.imgur.com/miqgxes.png" /></span><span class="comment floatLeft"><img class="comment" src="http://i.imgur.com/CuI03R5.png" /></span><span class="floatRight">
	<%if option == 1%>
	<img class="option optionOne" src="http://i.imgur.com/oOiYBiP.png" />
	<%else%>
	<img class="option optionOne" src="http://i.imgur.com/hZMbxy2.png" />
	<%end%>
	<%if option == 2%>
	<img class="option optionTwo" src="http://i.imgur.com/oOiYBiP.png" />
	<%else%>
	<img class="option optionTwo" src="http://i.imgur.com/hZMbxy2.png" />
	<%end%>
	<%if option == 3%>
	<img class="option optionThree" src="http://i.imgur.com/oOiYBiP.png" />
	<%else%>
	<img class="option optionThree" src="http://i.imgur.com/hZMbxy2.png" />
	<%end%>
	<%if option == 4%>
	<img class="option optionFour" src="http://i.imgur.com/oOiYBiP.png" />
	<%else%>
	<img class="option optionFour" src="http://i.imgur.com/hZMbxy2.png" />
	<%end%>
	</span></span>
</div>