
<!DOCTYPE html>
<html lang="en-US">
<head>

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>SpecialHaven | A community for caretakers, experts, and organizations in the disability space. </title>
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
<meta name="Description" content="SpecialHaven is the one-stop shop for all things special needs. Caretakers, experts, and organizations all come to SpecialHaven for up-to-date news, events, podcasts, videos, and open-discussion related to disability. We aim to make the lives of all people affected easier. ">
<meta name="Keywords" content="special, needs, caretakers, doctors, psychiatrists, autism, cancer, muscular dystrophy, down syndrome, parents, mom, dad, buddy ball, exceptional families, family, special needs, disability, care, medical, mental disability, physical disability, illness, Autism, Aspergers, Parents, Providers, Social Network, Autism Support, Autism Group, CDD, ASD, HFA, Rett Syndrome, PDD-NOS, ABA Applied Behavior Analysis, High Functioning Autism, Childhood Disintegrative Disorder, Spectrum, Kids, Children, parent autism support, autism social network, Parent Support Group, special education, parent teacher association">
<meta property="og:title" content="SpecialHaven | A community for caretakers, experts, and organizations in the disability space. ">
<meta property="og:site_name" content="SpecialHaven">
<meta property="og:url" content="http://specialhaven.com">
<meta property="og:description" content="SpecialHaven is the one-stop shop for all things special needs. Caretakers, experts, and organizations all come to SpecialHaven for up-to-date news, events, podcasts, videos, and open-discussion related to disability. We aim to make the lives of all people affected easier. ">
<meta property="fb:app_id" content="">
<meta property="og:type" content="website">
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@thespecialhaven" />
<meta name="twitter:title" content="The one-stop shop for up-to-date special needs and disability resources." />
<meta name="twitter:description" content="Check out our website for more information." />
<meta name="twitter:image" content="https://pbs.twimg.com/profile_images/658721004051656705/cKK5KJcD.png" />

<link href="https://necolas.github.io/normalize.css/3.0.3/normalize.css" rel="stylesheet" type="text/css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<link href='https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,900,800' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Neuton:400,200,700,300' rel='stylesheet' type='text/css'>

</head>

<body>

	<div id="container">
		
		<header>
			<div class="section group">
				<div class="col span_6_of_12 textLeft center">
					<a href="index.html"><img src="http://i.imgur.com/btxxG1U.png" />
				</div>
				<div class="col span_6_of_12 textRight center">
					<a href="" class="createPost">NEW POST</a>
					<a href="" class="navUser"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg" alt="@username" longdesc="This is @username profile picture"/></a>
				</div>
			</div>		
		</header>

		<div class="content">
			<div class="banner">
				<div class="section group">
					<div class="col span_9_of_12 bannerText">
						<div class="container">
							<span class="timestamp"><span class="tag"><%=@posts.first.tag_list%></span><span class="date">Feb. 2, 2016</span><span class="time">11:30PM</span><span class="user"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg" alt="@username" longdesc="This is @username profile picture" align="middle"/></span></span>
							<a href=""><h1>A messsage from a father with an autistic daughter.</h1></a>
							<h4>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem,  ultricies nec, pellentesque eu, pretium quis, sem.</h4><br>
							<span class="viewMore">READ FULL POST</span><br>
						</div>
					</div>
					<div class="col span_3_of_12 bannerControl">
						<ul>
							<li>dfsdf</li>
							<li>sdfsd</li>
							<li>sdfsd</li>
							<li>sdfsd</li>
							<li>sdfsd</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="section2 group2">
				<%= render @posts.first.specific %>
				<div class="col2 span_4_of_12_2 question">
					<div class="container">
						<span class="timestamp"><span class="tag">AUTISM</span><span class="user"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg" alt="@username" longdesc="This is @username profile picture" align="middle"/></span></span>
						<a href=""><h2>What is the best way to deal with an outburst?</h2></a>
						<hr>
						<h3><b>Top Comment</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis...</h3><br>
						<span class="viewMore">VIEW MORE ANSWERS</span><br>
						<span class="social"><span class="heart"><img src="http://i.imgur.com/RADbAMl.png" /></span><span class="comment"><img src="http://i.imgur.com/hMVaQeV.png" /></span>
					</div>
				</div>
				<div class="col2 span_4_of_12_2 text">
					<div class="container">
						<span class="timestamp"><span class="tag">AUTISM</span><span class="user"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg" alt="@username" longdesc="This is @username profile picture" align="middle"/></span></span>
						<a href=""><h2>This is a great title because we like titles.</h2></a>
						<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat... <a href=""><span class="readmore">Read More</span></a></h3>
						<span class="social"><span class="heart"><img src="http://i.imgur.com/RADbAMl.png" /></span><span class="comment"><img src="http://i.imgur.com/hMVaQeV.png" /></span>
					</div>
				</div>
			</div>
			<div class="section2 group2">
				<div class="col2 span_3_of_12_2 test">xx</div>
				<div class="col2 span_6_of_12_2 video">
					<div class="container">
						<span class="timestamp"><span class="tag">AUTISM</span><span class="user"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg" alt="@username" longdesc="This is @username profile picture" align="middle"/></span></span>
						<iframe width="auto" height="" src="https://www.youtube.com/embed/w_23z9yJAq0?rel=0" frameborder="0" allowfullscreen></iframe>
						<span class="social"><span class="heart"><img src="http://i.imgur.com/RADbAMl.png" /></span><span class="comment"><img src="http://i.imgur.com/hMVaQeV.png" /></span>
					</div>
				</div>
				<div class="col2 span_3_of_12_2 test">xx</div>
			</div>
			<div class="section2 group2">
				<div class="col2 span_4_of_12_2 test">xx</div>
				<div class="col2 span_4_of_12_2 test">xx</div>
				<div class="col2 span_4_of_12_2 test">xx</div>
			</div>
			<div class="section2 group2">
				<div class="col2 span_6_of_12_2 video">
					<div class="container">
						<span class="timestamp"><span class="tag">AUTISM</span><span class="user"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg" alt="@username" longdesc="This is @username profile picture" align="middle"/></span></span>
						<iframe width="auto" height="" src="https://www.youtube.com/embed/w_23z9yJAq0?rel=0" frameborder="0" allowfullscreen></iframe>
						<span class="social"><span class="heart"><img src="http://i.imgur.com/RADbAMl.png" /></span><span class="comment"><img src="http://i.imgur.com/hMVaQeV.png" /></span>
					</div>
				</div>
				<div class="col2 span_6_of_12_2 test">

				</div>
			</div>
			<div class="section2 group2">
				<div class="col2 span_3_of_12_2 test">xx</div>
				<div class="col2 span_6_of_12_2 video">
					<div class="container">
						<span class="timestamp"><span class="tag">AUTISM</span><span class="user"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg" alt="@username" longdesc="This is @username profile picture" align="middle"/></span></span>
						<iframe width="auto" height="" src="https://www.youtube.com/embed/w_23z9yJAq0?rel=0" frameborder="0" allowfullscreen></iframe>
						<span class="social"><span class="heart"><img src="http://i.imgur.com/RADbAMl.png" /></span><span class="comment"><img src="http://i.imgur.com/hMVaQeV.png" /></span>
					</div>
				</div>
				<div class="col2 span_3_of_12_2 test">xx</div>
			</div>
			<div class="section2 group2">
				<div class="col2 span_6_of_12_2 test">xx</div>
				<div class="col2 span_6_of_12_2 video">
					<div class="container">
						<span class="timestamp"><span class="tag">AUTISM</span><span class="user"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg" alt="@username" longdesc="This is @username profile picture" align="middle"/></span></span>
						<iframe width="auto" height="" src="https://www.youtube.com/embed/w_23z9yJAq0?rel=0" frameborder="0" allowfullscreen></iframe>
						<span class="social"><span class="heart"><img src="http://i.imgur.com/RADbAMl.png" /></span><span class="comment"><img src="http://i.imgur.com/hMVaQeV.png" /></span>
					</div>
				</div>
			</div>
		</div>

	</div>

</body>
</html>