<div class="container-fluid">
<div class="jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">timeline</h1>
  </div>
</div>
</div><hr>
<ul class="timeline">
<% @posts.reverse.each do |post| %>

<%= render post.specific%>
<% end %>

</ul>

