<div class="col span_12_of_12 lightGrayBg imageBox textCenter">
<a href="<%=url_for image_post%>"><img class="post" src=<%=image_post.image_url%> /></a>
<div class="container">
	<span class="details"><span class="social floatLeft">
	<%=render partial: "buttons/like", locals: {post: image_post}%>
	<span class="comment"><img class="comment" src="http://i.imgur.com/CuI03R5.png" /></span></span><span class="favorite"><img class="user" src="http://i.imgur.com/BcMWkDq.jpg" /></span><span class="tag"></span><span class="tag floatRight autism">/AUTISM</span></span></span>
</div>
</div>