$( document ).ready(function() {
	$("#newpost").click(function(event){
		$("#newpost").replaceWith('<a href="<%=Rails.application.routes.url_helpers.new_text_post_path%>"><button type="submit" style="background-color:#88CCF1" class="postButton" id="newpost">NEW TEXT POST</button></a> <a href="<%=Rails.application.routes.url_helpers.new_image_post_path%>"><button style="background-color:#45CB85" class="postButton" id="newpost">NEW IMAGE</button></a> <a href="<%=Rails.application.routes.url_helpers.new_video_post_path%>"><button class="postButton" id="newpost">NEW VIDEO</button></a> <a href="<%=Rails.application.routes.url_helpers.new_link_post_path%>"><button style="background-color:#BD90D4" class="postButton" id="newpost">NEW LINK</button></a>')
	})
});