/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 0% 0 12px 1%;
}
.sub{
  margin-left: 0;
}
.noMargin{
  margin: 0;
}
.bottomMargin{
  margin-bottom: 12px
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF TWELVE  */
.span_12_of_12 {
	width: 100%;
}

.span_11_of_12 {
  	width: 91.58%;
}
.span_10_of_12 {
  	width: 83.16%;
}

.span_9_of_12 {
  	width: 74.75%;
}

.span_8_of_12 {
  	width: 66.33%;
}

.span_7_of_12 {
  	width: 57.91%;
}

.span_6_of_12 {
  	width: 49.5%;
}

.span_5_of_12 {
  	width: 41.08%;
}

.span_4_of_12 {
  	width: 32.66%;
}

.span_3_of_12 {
  	width: 24.25%;
}

.span_2_of_12 {
  	width: 15.83%;
}

.span_1_of_12 {
  	width: 7.416%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 720px) {
	.col {  margin: 1% 0 1% 0%; }
  .containerPage{width: 100%}
h1{font-family: 'Open Sans', Arial, sans-serif; margin: 0; font-size: 28px; line-height: 120%;}
h2{font-family: 'Neuton', serif; margin: 5px 0px 10px 0px; font-size: 21px; font-weight: 200; line-height: 120%;}

  h3{font-family: 'Open Sans', Arial, sans-serif; margin: 8px 0px 2px 0px; font-size: 21px; line-height: 125%; font-weight: 700; letter-spacing: -1px;}
  h4{font-family: 'Neuton', serif; font-size: 18px; margin: 2px 0px 6px 0px; line-height: 120%; font-weight: 200;}
  h5{font-family: 'Open Sans', Arial, sans-serif; margin: 0; font-size: 12px;}
  h6{font-family: 'Open Sans', Arial, sans-serif; font-size: 10px;}

  a.readMore{font-family: 'Raleway', serif; font-size: 16px; font-weight: 700; color: #428bca;}
  span.timestamp{display: none;}
  .mobileMargin{width: 90%;}
    .span_1_of_12, .span_2_of_12, .span_3_of_12, .span_4_of_12, .span_5_of_12, .span_6_of_12, .span_7_of_12, .span_8_of_12, .span_9_of_12, .span_10_of_12, .span_11_of_12, .span_12_of_12 {
	width: 100%; 
	}
  h1.textPost{
    text-align: left;
  }
}