
.bannerBoxText{
	background-image: url('http://i.imgur.com/TjUQo0f.png');
	height: auto;
}
.bannerBoxDetailSpacing{
	height: 24px;
}
.bannerBoxOverlay{
	padding: 24px 0px;
}
h1.textPost{
	font-size: 32px;
	line-height: 140%;
	margin: 32px 0px;
	font-weight: 600;
}
h3.textPost{
	margin: 24px 0px 0px 0px;
	letter-spacing: 1px;
	font-size: 12px;
}
p.textPost{
	font-family: 'Open Sans', Arial, sans-serif;	
	font-size: 16px;
	font-weight: 300;
	line-height: 170%;
}
.container{
	width: 75%;
}
span.date, span.time{
	margin: 0px 8px;
}
.detailsText{
	font-family: 'Neuton', Times, serif;
	font-size: 15px; 
	font-weight: 200;
	opacity: .8;
}
.tagsText{
}
.tag{
	margin-right: 16px;
	opacity: .8;
}
img.postedByPic{
	height: 18px;
	border-radius: 100%;
	border: 1px solid transparent;
	cursor: pointer;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-ms-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;
	margin: 0px 8px;
	vertical-align: middle;
}
img.postedByPic:hover{
	border: 1px solid #ffffff;
}
img.like{
	width: 18px;
	height: 18px;
}
img.likeBig{
	width: 21px;
	height: 21px;
}
@media only screen and (max-width: 720px) {
	h1.textPost{
		font-size: 32px;
		font-weight: 600;
	}
	.detailsText{
		font-size: 15px;
	}
	span.date, span.time{
		margin: 0px 4px;
	}
	img.postedByPic{
		height: 21px;
		margin: 0px 8px;
	}
	img.postedByPic:hover{
		border: 1px solid #ffffff;
	}
	.tagsText{
		font-size: 
	}
	p.textPost{
		font-size: 17px;
		line-height: 170%;
	}
	.container, .containerSmall{
		width: 90%;
	}
	.bannerBoxSpacing{
		height: 55px;
	}
}