<header>
    <div class="containerPage mobileMargin">
        <span class="floatLeft"><a href="<%=url_for root_path%>"><img class="logo" src="http://i.imgur.com/BZIQF3I.png" /></a></span>
        <span class="floatRight"><button class="postButton">NEW POST</button> <img class="profilePic" src="http://i.imgur.com/BcMWkDq.jpg" />
    </div>
</header>